<div class="cmax8 info">
    <img src="/js/jquery/images/spinner.svg" class="ui-btn-right" id="unipi_loading_spinner" style="max-height: 80%;visibility: hidden;"/>

    <h4 class="is-size-3" style="margin: 0px;">  
        <%= user %>                
    </h3>
    <div class="date"></div>
    <div class="digital-clock">00:00:00</div>
</div>

<div style="position: relative;" data-role="header"  class="cmax8" data-id="pageHeader" data-position="fixed">
    <h2 >
        Engenys Control Panel
        <a href="/" class="logout ui-btn-active " style="position: absolute; right: 5px;">
            <img src="/icon/power.png" width="25px" height="25px" alt="">
        </a>
    </h2>
</div>

