<ul  class="menu columns is-mobile">
    <li class="column dropdown">
        <a onclick="myFunction()" class="dropbtn button has-text-white is-info ">I/O</a>
        <div id="myDropdown" class="dropdown-content">
            <a  id="m-input"  class="">Input</a>
            <a  id="m-output" data-theme="a" data-ajax="false">Output</a>
            <a  id="m-config" data-theme="a" data-ajax="false">Config</a>
        </div>
    </li> 
    <li class="column">
        <a id="m-network" data-theme="a" data-ajax="false" class="button is-info has-text-white ">Network</a>
    </li>
    <li class="column">
        <a id="m-reader" data-theme="a" data-ajax="false" class="button has-text-white is-info ">Reader</a>
    </li>
    <li class="column dropdown">
        <a onclick="toggleSystem()" class="dropbtn button is-info is-full has-text-white">System</a>
        <div id="sysDrop" class="dropdown-content">
            <a  id="m-datetime" data-theme="a" data-ajax="false">Datetime</a>
            <a  id="m-operator" data-theme="a" data-ajax="false">Operateur</a>
            <a  id="m-log" data-theme="a" data-ajax="false">Log</a>
            <a  id="m-device" data-theme="a" data-ajax="false">Devices</a>
        </div>
    </li>
    

</ul>