<div data-role="navbar">
            
    <ul class="menu">
        <%if (admin) { %>
            <li><a href="/inputs" id="m-input" data-theme="a" data-ajax="false" class="ui-btn-active">Inputs</a></li>
            <li><a href="#configs" id="m-operator" data-theme="a" data-ajax="false">Operator</a></li>
            <li><a href="#system" id="m-system" data-theme="a" data-ajax="false">System</a></li>
            <li><a href="#configs" id="m-config" data-theme="a" data-ajax="false">Configuration</a></li>
        <% } %>

        <li><a href="#outputs" id="m-output" data-theme="a" data-ajax="false">Outputs</a></li>                
        <li><a href="#networks" id="m-network" data-theme="a" data-ajax="false">Network</a></li>
        <li><a href="#readers" id="m-reader" data-theme="a" data-ajax="false">Reader</a></li>
        <li><a href="#configs" id="m-datetime" data-theme="a" data-ajax="false">Datetime</a></li>
        <li><a href="#log" id="m-log" data-theme="a" data-ajax="false">Log</a></li>


    </ul>
</div>