<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    
<%- include('../partials/head'); %>

<body>

    <!-- OVERVIEW page -->
    <div data-role="page" id="page-overview">
        
        <%- include('../partials/header'); %>


        <div data-role="main" class="ui-content cmax8">
            
        <div >
                
            <%- include('../partials/menu'); %>

            
            <div id="configs" class="ui-content" data-inset="true">
                <div id="unipi_save_all_button_div">
                    <button class="ui-btn ui-corner-all" id="unipi_save_all_button">Save current state to Flash</button>
                </div>
            </div>
            <!-- /inputs -->
            
            <!-- /content -->
        </div>
        <!-- /tabs -->
        </div>

        <!-- /footer -->
        <div data-role="popup" id="unipi_config_form_div">
            <form id="unipi_config_form">
                <div style="padding:20px 20px;" class="" id="unipi_config_form_inner_div">
                </div>
            </form>
        </div>
        

    </div>
    <div class="hide">
        <%- include('../partials/include.ejs'); %>
    </div>
    <script rel="javascript" type="text/javascript" src="js/app.js"></script>


</body>

</html>
