<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    <%- include('../partials/head'); %>

<body>


<!-- OVERVIEW page -->
<div data-role="page" id="page-overview">
    <div data-role="header"  class="cmax8" data-id="pageHeader" data-position="fixed">
        <h2>Engenys Panel</h2>
		<img src="/js/jquery/images/spinner.svg" class="ui-btn-right" id="unipi_loading_spinner" style="max-height: 80%;visibility: hidden;"/>
    </div>

    <div class="ui-content cmax8">
        <form action="/" method="post">
            <div>
                <label for="">Username</label>
                <input type="text" name="username" >
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" name="password"   >
            </div>
            <div>
                <button type="submit"  class="ui-link ui-btn ui-btn-a ui-tabs-anchor ui-btn-active">Login</button>
            </div>
        </form>
    </div>
    
    <%- include('../partials/footer'); %>

    <!-- /footer -->
</div>

</body>
</html>