<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<%- include('../partials/head'); %>

<body>


    <!-- OVERVIEW page -->
    <div data-role="page" class="page columns" id="page-overview">

        <div class="ui-content column px-6  is-one-third is-offset-one-third  " >
            <div class="card " style="margin-top:25%">
                <h2 class="has-background-grey-lighter p-3 is-size-4 has-text-weight-bold has-text-centered">
                    Engenys Panel
                </h2>
                <form id="login-form" class="m-2 pb-4" method="post">

                    <div>
                        <label for="">Username</label>
                        <input type="text" name="username" >
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input type="password" name="password"   >
                    </div>
                    <div>
                        <button type="submit"  class="ui-link ui-btn ui-btn-a ui-tabs-anchor ui-btn-active">Login</button>
                    </div>
                </form>
            </div>
            
            
        </div>
        

        <!-- /footer -->
        <div data-role="popup" id="unipi_config_form_div">
            <form id="unipi_config_form">
                <div style="padding:20px 20px;" class="" id="unipi_config_form_inner_div">
                </div>
            </form>
        </div>
        
    </div>

    <script>
        $("#login-form").submit(function(event){
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // setup some local variables
            var $form = $(this);

            // Serialize the data in the form
            var serializedData = $form.serialize();

            // Fire off the request to /form.php
            request = $.ajax({
                url: "/login",
                type: "post",
                data: serializedData
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                top.location.href = '/input';
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                alert("Incorrect Username or password");

            });


        });

    </script>

</body>
</html>